*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Verdana', sans-serif;
    max-width: 1512px;
    
}
.gap50{
    gap: 50px;
}
.gap20{
    gap: 20px;
}
.gap10{
    gap: 10px;
}
.gap5{
    gap: 5px;
}

.bgwhite{
    background-color: #fff;
}
.bggrey{
    background-color: #ebebeb;
}
.bgbanner{
    background-image: url(media/img-promo-destacadas.svg);
    width: 1512px;
    height: 340px;
}
.cblack{
    color: #000;
}
.cgrey60{
    color: rgba(51, 51, 51, 0.6);
}
.cgrey999{
    color: #999999;
}
.cblackmenu{
    color: #333333;
}
.clink{
    color: #3483FA;
}

.fs12{
    font-size: 12px;
}
.fs13{
    font-size: 13px;
}
.fs14{
    font-size: 14px;
}
.fs15{
    font-size: 15px;
}
.fs16{
    font-size: 16px;
}
.fs26{
    font-size: 26px;
}
.fs28{
    font-size: 28px;
}


header{
    width: 100%;
    height: 100px;
    background: #fff159;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

nav{
    width: 100%;
    background-color: #fff159;    
}
.container{
    width: 100%;
    max-width: 1220px;
    
}
form{
    width: 600px;
    height: 56px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    justify-content: left;
}
form button{
    width: 46px;
    height: 39px;
    border-radius: 0px 2px 2px 0px;
    background-color: #fff;
    
    cursor: pointer;
    transition: 0.3s;
    border: none;
}
input{
    width: 100%;
    height: 39px;
    border-radius: 4px;
    padding: 0 10px;
    font-size: 16px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    padding: 10px 60px 10pxtransfer 15px;
    display: flex;
    align-items: center;
}
.mbottom10{
    margin-bottom: 10px;
}
.center{
    align-items: center;
    justify-content: center;
}
.fbrow{
    flex-direction: row;

}
.fbox{
    display: flex;
}
.fdcol{   
    flex-direction: column;
}

.btwflexstart{
    justify-content: space-between;
    align-items: flex-start;
}
.btwflexend{
    justify-content: space-between;
    align-items: flex-end;
}
.btwflexcenter{
    justify-content: space-between;
    align-items: center;
}

.w600{
    width: 600px;
}r
.wid100{
    width: 100%;
}
.w1200{
    width: 1200px;
}
.padding10{
    padding: 10px;
}
.padding20{
    padding: 20px;
}
.padding30{
    padding: 30px;
}
.centrado{
    margin:0 auto;
}
.mtop10{
    margin-top: 10px;
}
.mtop20{
    margin-top: 20px;
}
.mtop30{
    margin-top: 30px;
}
.mtop40{
    margin-top: 40px;
}